@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mali:wght@200;300;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --font-primary: "Baloo 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Mali", serif;
}
.menuHam {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.show-menu .menuHam {
  right: 16rem;
}
.menuHam span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66a2f1;
  color: #ffffff;
  font-family: var(--font-action);
  opacity: 0;
}
.menuHam span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #66a2f1;
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}
.show-menu .menuHam:hover span {
  opacity: 1;
}
.line {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  height: 0.1rem;
  cursor: pointer;
  transition: transform 1s;
}
.show-menu #line1 {
  transform: rotate(45deg) translate(0.3rem, 0.4rem);
}
.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}
.show-menu #line3 {
  transform: rotate(-45deg) translate(0.3rem, -0.45rem);
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.img_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.my_img {
  max-height: 50%;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  z-index: 1;
  animation: moveBanner 1s 0.4s forwards;
  opacity: 0;
  width: 120px;
  border-radius: 50%;
  border: solid 3px;
  box-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
}

.my_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  left: 15%;
  top: 30%;
}

.banner h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 300;
  text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  animation: moveBanner 1s 0.5s forwards;
  opacity: 0;
}
.banner p {
  font-family: var(--font-secundary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
  animation: moveBanner 1s 0.7s forwards;
  opacity: 0;
}
.banner button {
  font-family: var(--font-action);
  color: #ffffff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #66a2f1;
  background: -webkit-linear-gradient(to right, #2193b0, #66a2f1);
  background: linear-gradient(to right, #2193b0, #66a2f1);
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: moveBanner 1s 0.9s forwards;
  opacity: 0;
}
.banner button:hover {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
}
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1.2s;
}
.show-menu .sidebar {
  right: 0;
}
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}
.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}
.menu-link:hover {
  color: #2193b0;
  border-bottom: 2px solid #66a2f1;
  opacity: 100%;
}
.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}
.social-media i {
  background-color: #66a2f1;
  color: #fff;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-media i:hover {
  background-color: #2193b0;
}
